RewriteEngine On

RewriteCond %{HTTP_HOST} ^ciamiskab\.go.id [NC]
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://ciamiskab.go.id/ [R,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]

Options All -Indexes
